body {
    background-color: whitesmoke;
}

#main-page div {
    color: blueviolet;
    /*        background-color: forestgreen;*/
    border: 1px solid black;
    height: auto;
}

#main-page {
    display: grid;
    width: 80%;
    grid-template-columns: auto auto auto;
}

/*main-header start*/
.main-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: #333;
}

/*
.main-header logo{
    padding:5px;
*/
}

.hands {
    color: red;
}

.logo a {
    color: red;
    font-size: 50px;
    padding: 15px 15px 15px 15px;

}

.logo {

    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 50px;


}

.noneIcon {
    text-align: center;
    padding: 10px;


}

.noneIcon span {
    font-family: 'BioRhyme Expanded', serif;

    color: red;
    font-size: 50px;

}

/*main-header end*/

/*main-nav start*/
.main-nav {

    grid-column-start: 1;
    grid-column-end: 4;
    position: sticky;
    top: 0;
    /*    border: 2px solid black;*/


}

.main-nav ul {
    /*
    text-align: center;   
    border: 2px solid black;
*/

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.main-nav li {
    /*
    display:inline-block;
    width:20%;
*/
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: red;
}

/*main-nav end*/

/*--------main-img3--------*/
.panda2 {
    width: 200px;
    float: left;
    padding: 4px;
}

/*--------main-img3END--------*/


/*----------main-img1andDesc---------*/
.panda {

    float: left;
    padding: 4px;



}

.main-img1AndDesc p {
    padding: 5px;
}

/*----------main-img1andDesc END---------*/


/*---------------------main-icon start-----------------*/
.main-icon {
    /*    position:relative;*/
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 50px;
    text-align: center;
    float: center;
}

.main-icon i {
    position: relative;
    border: 2px solid black;
    border-radius: 40px;
    border-color: black;
    margin: 50px;
    padding: 5px;
    min-width: 120px;
}

.main-icon i:hover {
    position: absolute;

/*    transition: rotate(360deg);*/
}
@keyframes example{
    from{}
    to{transform: rotateY(360deg) scale (1.3)}
}

.blind {
    color: red;
    font-size: 50px;
    -webkit-transition: rotate(360deg);
    transition: rotate(360deg);
}
.blind:hover {
        animation-name: example;
    animation-duration: 6s;
}
